.table{
    width: 100%;
    border-collapse: collapse;
}
.table th{
    background-color: #2ec4b6;
    color: white;
}
.table th:nth-child(odd) {

}
.table-responsive{
    overflow-x: auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    margin-top: 30px;
    border-radius: 10px;
}
.table th, .table td{
    text-align: center;
    padding: 10px;
}
.table tr:nth-child(even) {
    background: #e9ecef;
}
.table tr{
    transition: all .3s;
}
.table tr:hover{
    background-color: #ccc;
}
.table td:not(:last-child){
    border-right: 1px solid #ccc;
}